<div class="plan">
    <div class="plan--popular">
        <div class="card__header">
            <h2 class="plan_name">Entry</h2>
    <span class="plan_price">$14 
        <span class="plan_billing-cycle"> /month </span>
    <span class="badge badge--primary">10% off</span>
    <span class="plan_description">East start on the cloud</span>
</span>
        </div>
    </div>
    
    <ul >
    <li class="list__item">Unlimited Websites</li>
    <li class="list__item">Unlimited Bandwidth</li>
    <li class="list__item">100 GB SSD Sotrage</li>
    <li class="list__item">3 GB RAM</li>
</ul>

</div>
