<section class="block block-showcase">
    <article class="grid grid--1x2">
  <div>
  <picture class="block-showcase__image ">
        <source
        type="images/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x">
        <source
        type="images/jpg"
        srcset="images/ipad.jpg 1x, images/ipad@2x.jpg 2x">
        <img src="images/ipad@2x.png" alt="">
      </picture>
    </div>
     
<div>
    <div class="media">
        <div class="media__image">
                <svg class="icon icon--primary">
                    <use xlink:href="/images/sprite.svg#snap"></use>
                  </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title">
                Easy start& Manage Update
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugiat officiis accusantium consequuntur, aspernatur, perspiciatis quod vitae sit perferendis nobis quidem dicta expedita molestias dolor. Aliquam error harum earum rem?</p>
        </div>
     </div>
   
     <div class="media">
      <div class="media__image">
              <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#growth"></use>
                </svg>
      </div>
      <div class="media__body">
          <h3 class="media__title">
              Staging, GIT & WP-CLI
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugiat officiis accusantium consequuntur, aspernatur, perspiciatis quod vitae sit perferendis nobis quidem dicta expedita molestias dolor. Aliquam error harum earum rem?</p>
      </div>
   </div>
     
   <div class="media">
    <div class="media__image">
            <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#wordpress"></use>
              </svg>
              </div>
          <div class="media__body">
              <h3 class="media__title">
                  Dynamic caching & More
              </h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugiat officiis accusantium consequuntur, aspernatur, perspiciatis quod vitae sit perferendis nobis quidem dicta expedita molestias dolor. Aliquam error harum earum rem?</p>
          </div>
       </div>
         
           
      </div>
</div>
    </article>
  
    
     
  </section>
  